@{
    ViewData["Title"] = "Home Page";
}

<table class = "calculator">
    <tr>
        <td colspan="4"><input class = "display-box" type="text" id="result" /></td>
    </tr>
    <tr>
        <td><input class="button" type="button" value="1" onclick="display('1')" /> </td>
        <td><input class="button" type="button" value="2" onclick="display('2')" /> </td>
        <td><input class="button" type="button" value="3" onclick="display('3')" /> </td>
        <td><input class="button" type="button" value="+" onclick="display(' + ')" style = "background-color: blue; color:white"/> </td>
    </tr>          
    <tr>           
        <td><input class="button" type="button" value="4" onclick="display('4')" /> </td>
        <td><input class="button" type="button" value="5" onclick="display('5')" /> </td>
        <td><input class="button" type="button" value="6" onclick="display('6')" /> </td>
        <td><input class="button" type="button" value="-" onclick="display(' - ')" style = "background-color: blue; color:white"/> </td>
    </tr>         
    <tr>          
        <td><input class="button" type="button" value="7" onclick="display('7')" /> </td>
        <td><input class="button" type="button" value="8" onclick="display('8')" /> </td>
        <td><input class="button" type="button" value="9" onclick="display('9')" /> </td>
        <td><input class="button" type="button" value="*" onclick="display(' * ')" style = "background-color: blue; color:white"/> </td>
    </tr>         
    <tr>         
        <td><input class="button" type="button" value="0" onclick="display('0')" /> </td>
        <td><input class="button" type="button" value="." onclick="display('.')" /> </td>
        <!-- clr()  function will call clr to clear all value -->
        <td><input class="button" type="button" value="c" onclick="clearScreen()" style = "background-color: lightskyblue; color:white" /> </td>
        <td><input class="button" type="button" value="/" onclick="display(' / ')" style = "background-color: blue; color:white"/> </td>
    </tr>
    <tr>
        <!-- solve function call function solve to evaluate value -->
        <td colspan="4"><input class="calculate" type="button" value="Count" onclick="calculate()" /></td>
    </tr>
</table>
