
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}



.calculator {
/*    padding: 10px;*/
    height: 380px;
    width: 500px;
    margin: auto;
}

.display-box {
    background-color: lightgreen;
    border: solid black 4px;
    color: black;
    border-radius: 5px;
    width: 92%;
    height: 65%;
}

.button {
    background-color: white;
    color: black;
    border: solid black 0.5px;
    width: 70%;
    border-radius: 4px;
    height: 70%;
    /*outline: none;*/
}

/*    .button:active {
        background: #e5e5e5;
        -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
        box-shadow: inset 0px 0px 5px #c1c1c1;
    }*/
.calculate {
    width: 92%;
    background-color: red;
}